.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@layer components {
  .options {
    @apply cursor-pointer hover:bg-gray-200 transition duration-100 py-1 px-3 ease-out rounded-md;
  }
}
.options{
  padding: 4px;
  color: black;
}
.editor{
  background: #edf2fa;
}